<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />


    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="io.github.libxposed.permission.BIND_XPOSED_SERVICE" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".root.RootApplication"
        android:description="@string/app_description"
        android:icon="@mipmap/ic_launcher"
        android:label="HyperLyric"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:testOnly="false"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">


        <activity
            android:name=".ui.MainActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.LiveLyricService"
            android:exported="true"
            android:label="@string/label_lyric_listener_service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


        <service
            android:name=".service.LyricTileService"
            android:exported="true"
            android:icon="@drawable/lyrictile"
            android:label="@string/label_lyric_enable_service"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>
